<a class="buttons" style="margin-top: 5px;border-width:3px; border-style:solid;"
onclick="window.location.href='Update?FIO={{FIO}}&Telephone={{Telephone}}'">
        {{FIO}}   
        {{Telephone}}
</a>
<br>