<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>List</title>
</head>
<body>
{{{body}}}
{{#if logicif}}
<!--<button onclick="window.location.href='./'">Отказаться</button>-->
{{{deny}}}
{{/if}}
</body>
</html>