<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>List</title>
</head>
<body>
<br/><br/>
<div style="height: 200px;overflow:scroll;width:400px;display:block;margin-left:auto;margin-right: auto; font-color: red" align="left">
        {{#each names}}
            {{>buttonString}}
        {{/each}}
</div>
<br>
<form action="./Update" style="margin-left:540px" method="POST">
    <input name="String" id="String2" type="text" style="width: 250px;" value="{{FIO}}  {{Telephone}}" pattern="^([^,]{1,}) ([^,]{1,}).([^,]{1,}) [0-9]{9}$"><br>
    <input type="submit" value="Изменить" style="float: left;">
</form>


<form action="./Delete" method="POST" style="float: left;">
    <input type="submit" id="Delete" style="float: left;" value="Удалить">
    <input name="String" type="text" style="display: none;" value="{{FIO}}  {{Telephone}}"><br>    
</form>


<script src="./disabled.js" type="text/javascript">
</script>
<script src="./change.js" type="text/javascript">
</script>
</body>
</html>